extends layout
block content
  .container
    .col-md-12.content-center
      .card-plain
        form.form(method='', action='#')
          .header
            .logo-container
              img(src='https://thememakker.com/templates/oreo/html/images/logo.svg', alt='')
            h5 Recover Password
          .content
            .input-group.input-lg
              input.form-control(type='text', placeholder='Your email')
              span.input-group-addon
                i.zmdi.zmdi-account-circle
          .footer.text-center
            a.btn.btn-primary.btn-round.btn-lg.btn-block(href='index.html') Send reset Link
            h5
              a.link(href='login') Login
