extends ../layout
block content
  .row.clearfix
    .col-lg-4.col-md-12
      .card.project_widget
        .pw_img
          img.img-fluid(src='images/image2.jpg', alt='About the image')
        .pw_content
          .pw_header
            h6 Mukasa Grain Warehouse
          .pw_meta
            span UGX 5000 / 100Kg
            small.text-muted Kasubi
            small.text-success 4 Star
            hr
            button.btn.btn-info More
    .col-lg-4.col-md-12
      .card.project_widget
        .pw_img
          img.img-fluid(src='images/image4.jpg', alt='About the image')
        .pw_content
          .pw_header
            h6 Maize Warehouse
          .pw_meta
            span UGX 4000 / 100Kg
            small.text-muted Mukono
            small.text-success 4 Star
            hr
            button.btn.btn-info More
    .col-lg-4.col-md-12
      .card.project_widget
        .pw_img
          img.img-fluid(src='images/image3.jpg', alt='About the image')
        .pw_content
          .pw_header
            h6 Beans Warehouse
          .pw_meta
            span UGX 1500 / 100Kg
            small.text-muted Mbarara
            small.text-danger 2 Star
            hr
            button.btn.btn-info More