
doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=Edge')
  meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
  meta(name='description', content='Responsive Bootstrap 4 and web Application ui kit.')
  title  #{title} - Futures and Forwards Grain Exchange System
  link(rel='icon', href='favicon.ico', type='image/x-icon')  

  link(rel='stylesheet', href='plugins/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='plugins/jquery-steps/jquery.steps.css')
  link(rel='stylesheet', href='plugins/jquery-datatable/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='plugins/jvectormap/jquery-jvectormap-2.0.3.min.css')
  link(rel='stylesheet', href='plugins/morrisjs/morris.min.css')
  link(rel='stylesheet', href='plugins/sweetalert/sweetalert.css ') 
  link(rel='stylesheet', href='plugins/multi-select/css/multi-select.css')
  link(rel='stylesheet', href='plugins/jquery-spinner/css/bootstrap-spinner.css')
  link(rel='stylesheet', href='plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')
  link(rel='stylesheet', href='plugins/bootstrap-select/css/bootstrap-select.css')
  link(rel='stylesheet', href='plugins/nouislider/nouislider.min.css')
  link(rel='stylesheet', href='plugins/select2/select2.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/color_skins.css')

body.theme-cyan.menu_dark  
  nav.navbar.p-l-5.p-r-5
    ul.nav.navbar-nav.navbar-left
      li
        .navbar-header
          a.bars(href='javascript:void(0);')
          a.navbar-brand(href='home')
            img(src='images/logo.svg', width='30', alt='')
            span.m-l-10 FFGES
      li.dropdown
        a.dropdown-toggle(href='javascript:void(0);', data-toggle='dropdown', role='button')
          i.zmdi.zmdi-notifications
          .notify
            span.heartbit
            span.point
        ul.dropdown-menu.pullDown
          li.body
            ul.menu.list-unstyled
              li
                .container
                  br
                  h6 Notifications
              li
                a(href='javascript:void(0);')
                  .media
                    img.media-object(src='images/xs/avatar2.jpg', alt='')
                    .media-body
                      span.name
                        span.time 30min ago
                      span.message There are many variations of passages
              li
                a(href='javascript:void(0);')
                  .media
                    img.media-object(src='images/xs/avatar3.jpg', alt='')
                    .media-body
                      span.name
                        span.time 31min ago
                      span.message There are many variations of passages of Lorem Ipsum
              li
                a(href='javascript:void(0);')
                  .media
                    img.media-object(src='images/xs/avatar4.jpg', alt='')
                    .media-body
                      span.name
                        span.time 35min ago
                      span.message There are many variations of passages
              li
                a(href='javascript:void(0);')
                  .media
                    img.media-object(src='images/xs/avatar5.jpg', alt='')
                    .media-body
                      span.name
                        span.time 35min ago
                      span.message Contrary to popular belief, Lorem Ipsum random
              li
                a(href='javascript:void(0);')
                  .media
                    img.media-object(src='images/xs/avatar6.jpg', alt='')
                    .media-body
                      span.name
                        span.time 1hr ago
                      span.message There are many variations of passages
          li.footer
            a(href='javascript:void(0);') View All
      li.hidden-sm-down
        .input-group
          input.form-control(type='text', placeholder='Search...')
          span.input-group-addon
            i.zmdi.zmdi-search
      li.float-right
        a.mega-menu(href='logout', data-close='true')
          i.zmdi.zmdi-power
        a.js-right-sidebar(href='javascript:void(0);', data-close='true')
          i.zmdi.zmdi-settings.zmdi-hc-spin  
  aside#leftsidebar.sidebar
    #dashboard.tab-pane.stretchRight.active
      .menu
        ul.list
          li
            .user-info
              .image
                a(href='#')
                  img(src='images/profile_av.jpg', alt='User')
              .detail
                //- Username of logged in user
                h4 Jerry Etiang
                small Seller

          //- Sidebar menu items
          li.active.open
            a.menu-toggle(href='javascript:void(0);')
              i.zmdi.zmdi-home
              span Dashboard
            ul.ml-menu
              li.active
                a(href='home') Home
              li
                a(href='grain') Grain
              li
                a(href='contracts') Contracts
          li
            a.menu-toggle(href='javascript:void(0);')
              i.zmdi.zmdi-apps
              span Community
            ul.ml-menu
              li
                a(href='buyers') Buyers
              li
                a(href='sellers') Sellers
              li
                a(href='warehouses') Warehouses
              li
                a(href='blog') Blog
          li
            a.menu-toggle(href='javascript:void(0);')
              i.zmdi.zmdi-shopping-cart
              span Account
            ul.ml-menu
              li
                a(href='account') Manage Account
              li
                a(href='profile') Profile
              li
                a(href='bank') Bank
              li
                a(href='mobileMoney') Mobile Money
  aside#rightsidebar.right-sidebar
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#setting')
          i.zmdi.zmdi-settings.zmdi-hc-spin
    .tab-content
      #setting.tab-pane.slideRight.active
        .slim_scroll
          .card
            h6 Skins
            ul.choose-skin.list-unstyled
              li(data-theme='purple' class='active' )
                .purple
              li(data-theme='blue')
                .blue
              li(data-theme='cyan')
                .cyan
              li(data-theme='green')
                .green
              li(data-theme='orange')
                .orange
              li(data-theme='blush')
                .blush
          .card.theme-light-dark
            h6 Left Menu
            button.t-light.btn.btn-default.btn-simple.btn-round.btn-block Light
            button.t-dark.btn.btn-default.btn-round.btn-block Dark
            button.m_img_btn.btn.btn-primary.btn-round.btn-block Sidebar Image
  section.content
    .block-header
      .row
        .col-lg-5.col-md-5.col-sm-12
          h2 #{title}
            small Welcome to FFGES
        .col-lg-7.col-md-7.col-sm-12.text-right   
          ul.breadcrumb.float-md-right
            li.breadcrumb-item
              a(href='home')
                i.zmdi.zmdi-home
            li.breadcrumb-item.active #{title}
  
    .container-fluid          
      block content 
    
  script(src='bundles/libscripts.bundle.js')  
  script(src='bundles/vendorscripts.bundle.js')  

  script(src='bundles/datatablescripts.bundle.js')
  script(src='plugins/jquery-datatable/buttons/dataTables.buttons.min.js')
  script(src='plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js')
  script(src='plugins/jquery-datatable/buttons/buttons.colVis.min.js')
  script(src='plugins/jquery-datatable/buttons/buttons.html5.min.js')
  script(src='plugins/jquery-datatable/buttons/buttons.print.min.js')
  script(src='plugins/sweetalert/sweetalert.min.js')
  script(src='plugins/jquery-validation/jquery.validate.js')
  script(src='plugins/jquery-steps/jquery.steps.js')
    
  script(src='plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
  script(src='plugins/jquery-inputmask/jquery.inputmask.bundle.js')
  script(src='plugins/multi-select/js/jquery.multi-select.js')
  script(src='plugins/jquery-spinner/js/jquery.spinner.js')
  script(src='plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')
  script(src='plugins/nouislider/nouislider.js')
  script(src='plugins/select2/select2.min.js')
  
  script(src='bundles/morrisscripts.bundle.js')  
  script(src='bundles/jvectormap.bundle.js')  
  script(src='bundles/knob.bundle.js')  
  script(src='bundles/mainscripts.bundle.js')  

  script(src='js/pages/tables/jquery-datatable.js')
  script(src='js/pages/ui/dialogs.js')
  script(src='js/pages/forms/form-wizard.js')
  
  script(src='js/pages/index.js')  